kbd {
	text-shadow: 0 1px 0 #FFF;
	background-color: #e1e3e5;
	border: 1px solid #adb3b9;
	border-radius: 3px;
}

.strike {
	text-decoration: line-through;
}

div.versionadded > p, div.versionchanged > p, div.deprecated > p {
	text-align: right;
	font-style: italic;
	font-size: x-small;
	margin: 0px;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
	color: #3a7ca8;
}

#table-of-contents {
	top: 5.618em;
	right: 1em;
	position: fixed;
	background-color: #f6f6f6;
}

@media only screen and (max-width: 768px) {
	#table-of-contents {
		display: none;
	}
}
